<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Категории - Soroka To Day</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }
        .bd-mode-toggle {
            z-index: 1500;
        }
    </style>

</head>
<body>
    <nav class="py-2  bg-body-tertiary border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li><a href="/" class="nav-link px-2">Главная</a></li>
                <li><a href="categoryNews" class="nav-link px-2">Новости</a></li>
                <li><a href="#" class="nav-link px-2 disabled">Предложить</a></li>
                <li><a href="about" class="nav-link px-2">О нас</a></li>
                <li><a href="#" class="nav-link px-2 disabled">admin</a></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 disabled">Login</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 disabled">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                <div style="width: 60px; height: 40px; background: no-repeat; background-image: url(img/soroka.svg); background-size: contain;">
                <!--Логотип через background-->
                </div>
                <span class="fs-1">Soroka ToDay</span>
            </a>
            <form class="d-flex align-items-center col-12 col-lg-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </header>

    <main>

        <div class="container px-4 pb-2" id="icon-grid">
            <h2 class="pb-2 border-bottom">Категории</h2>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/news.png" alt="все новости">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Все новости</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/popular.png" alt="популяное">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Популярные</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/important.png" alt="важно">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Молния</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/today.png" alt="сегодняе">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Сегодня</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/world.png" alt="в мире">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">В мире</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/world.png" alt="в мире">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">В мире</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/russia.png" alt="россия">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Россия</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/politics.png" alt="политика">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Политика</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/economy.png" alt="экономика">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Экономика</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/incident.png" alt="происшествия">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Происшествия</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/culture.png" alt="Культура">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Культура</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/rest.png" alt="Отдых">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Отдых</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/sport.png" alt="спорт">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Спорт</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/science.png" alt="накука">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Наука</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/technologies.png" alt="технологии">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Технологии</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <img style="width: 28px; height: 28px; margin-right: 10px;" src="img/icon/auto.png" alt="авто">
                    <div>
                        <a href="categoryNews" class="text-decoration-none">
                            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Авто</h3>
                        </a>
                        <!-- <p>Paragraph of text beneath the heading to explain the heading.</p> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="b-example-divider"></div>


        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <h2 class="pb-2 border-bottom">Все новости</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <div class="col">
                        <div class="card shadow-sm">
                            <div style="width: 100%; height: 225px; background: no-repeat; background-image: url(img/osminog1.jpg); background-size: cover;"></div>
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between" style="font-size: 0.75rem; color: rgb(131, 131, 131);">
                                    <a class="mt-1 mb-1" style="font-size: 0.75rem; color: rgb(131, 131, 131); text-decoration: none;" href="#">Наука</a>
                                    <small class="mt-1 mb-1" style="font-size: 0.85rem; color: rgb(131, 131, 131);">14:34 15-06-23</small>
                                </div>
                                <p class="mt-1 mb-1" style="font-size: 1rem; font-weight: 700;">Зоолог рассказала, что умственные способности осьминогов сродни инопланетным</p>
                                <p class="mt-1 mb-1" style="font-size: 0.85rem; font-style: italic;">Осьминоги уникальным образом умеют приспосабливаться к изменениям окружающей среды. Не только умеют менять окрас и форму, но и перепрограммируют мозг, метаболизм и проводимость нервных волокон. И это не все их таланты.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="itemNews" type="button" class="btn btn-outline-primary btn-sm px-4">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div style="width: 100%; height: 225px; background: no-repeat; background-image: url(img/osminog1.jpg); background-size: cover;"></div>
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between" style="font-size: 0.75rem; color: rgb(131, 131, 131);">
                                    <a class="mt-1 mb-1" style="font-size: 0.75rem; color: rgb(131, 131, 131); text-decoration: none;" href="#">Наука</a>
                                    <small class="mt-1 mb-1" style="font-size: 0.85rem; color: rgb(131, 131, 131);">14:34 15-06-23</small>
                                </div>
                                <p class="mt-1 mb-1" style="font-size: 1rem; font-weight: 700;">Зоолог рассказала, что умственные способности осьминогов сродни инопланетным</p>
                                <p class="mt-1 mb-1" style="font-size: 0.85rem; font-style: italic;">Осьминоги уникальным образом умеют приспосабливаться к изменениям окружающей среды. Не только умеют менять окрас и форму, но и перепрограммируют мозг, метаболизм и проводимость нервных волокон. И это не все их таланты.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="itemNews" type="button" class="btn btn-outline-primary btn-sm px-4">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div style="width: 100%; height: 225px; background: no-repeat; background-image: url(img/osminog1.jpg); background-size: cover;"></div>
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between" style="font-size: 0.75rem; color: rgb(131, 131, 131);">
                                    <a class="mt-1 mb-1" style="font-size: 0.75rem; color: rgb(131, 131, 131); text-decoration: none;" href="#">Наука</a>
                                    <small class="mt-1 mb-1" style="font-size: 0.85rem; color: rgb(131, 131, 131);">14:34 15-06-23</small>
                                </div>
                                <p class="mt-1 mb-1" style="font-size: 1rem; font-weight: 700;">Зоолог рассказала, что умственные способности осьминогов сродни инопланетным</p>
                                <p class="mt-1 mb-1" style="font-size: 0.85rem; font-style: italic;">Осьминоги уникальным образом умеют приспосабливаться к изменениям окружающей среды. Не только умеют менять окрас и форму, но и перепрограммируют мозг, метаболизм и проводимость нервных волокон. И это не все их таланты.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="itemNews" type="button" class="btn btn-outline-primary btn-sm px-4">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <div style="width: 100%; height: 225px; background: no-repeat; background-image: url(img/osminog1.jpg); background-size: cover;"></div>
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between" style="font-size: 0.75rem; color: rgb(131, 131, 131);">
                                    <a class="mt-1 mb-1" style="font-size: 0.75rem; color: rgb(131, 131, 131); text-decoration: none;" href="#">Наука</a>
                                    <small class="mt-1 mb-1" style="font-size: 0.85rem; color: rgb(131, 131, 131);">14:34 15-06-23</small>
                                </div>
                                <p class="mt-1 mb-1" style="font-size: 1rem; font-weight: 700;">Зоолог рассказала, что умственные способности осьминогов сродни инопланетным</p>
                                <p class="mt-1 mb-1" style="font-size: 0.85rem; font-style: italic;">Осьминоги уникальным образом умеют приспосабливаться к изменениям окружающей среды. Не только умеют менять окрас и форму, но и перепрограммируют мозг, метаболизм и проводимость нервных волокон. И это не все их таланты.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="itemNews" type="button" class="btn btn-outline-primary btn-sm px-4">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div style="width: 100%; height: 225px; background: no-repeat; background-image: url(img/osminog1.jpg); background-size: cover;"></div>
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between" style="font-size: 0.75rem; color: rgb(131, 131, 131);">
                                    <a class="mt-1 mb-1" style="font-size: 0.75rem; color: rgb(131, 131, 131); text-decoration: none;" href="#">Наука</a>
                                    <small class="mt-1 mb-1" style="font-size: 0.85rem; color: rgb(131, 131, 131);">14:34 15-06-23</small>
                                </div>
                                <p class="mt-1 mb-1" style="font-size: 1rem; font-weight: 700;">Зоолог рассказала, что умственные способности осьминогов сродни инопланетным</p>
                                <p class="mt-1 mb-1" style="font-size: 0.85rem; font-style: italic;">Осьминоги уникальным образом умеют приспосабливаться к изменениям окружающей среды. Не только умеют менять окрас и форму, но и перепрограммируют мозг, метаболизм и проводимость нервных волокон. И это не все их таланты.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="itemNews" type="button" class="btn btn-outline-primary btn-sm px-4">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div style="width: 100%; height: 225px; background: no-repeat; background-image: url(img/osminog1.jpg); background-size: cover;"></div>
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between" style="font-size: 0.75rem; color: rgb(131, 131, 131);">
                                    <a class="mt-1 mb-1" style="font-size: 0.75rem; color: rgb(131, 131, 131); text-decoration: none;" href="#">Наука</a>
                                    <small class="mt-1 mb-1" style="font-size: 0.85rem; color: rgb(131, 131, 131);">14:34 15-06-23</small>
                                </div>
                                <p class="mt-1 mb-1" style="font-size: 1rem; font-weight: 700;">Зоолог рассказала, что умственные способности осьминогов сродни инопланетным</p>
                                <p class="mt-1 mb-1" style="font-size: 0.85rem; font-style: italic;">Осьминоги уникальным образом умеют приспосабливаться к изменениям окружающей среды. Не только умеют менять окрас и форму, но и перепрограммируют мозг, метаболизм и проводимость нервных волокон. И это не все их таланты.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="itemNews" type="button" class="btn btn-outline-primary btn-sm px-4">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <div style="width: 100%; height: 225px; background: no-repeat; background-image: url(img/osminog1.jpg); background-size: cover;"></div>
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between" style="font-size: 0.75rem; color: rgb(131, 131, 131);">
                                    <a class="mt-1 mb-1" style="font-size: 0.75rem; color: rgb(131, 131, 131); text-decoration: none;" href="#">Наука</a>
                                    <small class="mt-1 mb-1" style="font-size: 0.85rem; color: rgb(131, 131, 131);">14:34 15-06-23</small>
                                </div>
                                <p class="mt-1 mb-1" style="font-size: 1rem; font-weight: 700;">Зоолог рассказала, что умственные способности осьминогов сродни инопланетным</p>
                                <p class="mt-1 mb-1" style="font-size: 0.85rem; font-style: italic;">Осьминоги уникальным образом умеют приспосабливаться к изменениям окружающей среды. Не только умеют менять окрас и форму, но и перепрограммируют мозг, метаболизм и проводимость нервных волокон. И это не все их таланты.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="itemNews" type="button" class="btn btn-outline-primary btn-sm px-4">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div style="width: 100%; height: 225px; background: no-repeat; background-image: url(img/osminog1.jpg); background-size: cover;"></div>
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between" style="font-size: 0.75rem; color: rgb(131, 131, 131);">
                                    <a class="mt-1 mb-1" style="font-size: 0.75rem; color: rgb(131, 131, 131); text-decoration: none;" href="#">Наука</a>
                                    <small class="mt-1 mb-1" style="font-size: 0.85rem; color: rgb(131, 131, 131);">14:34 15-06-23</small>
                                </div>
                                <p class="mt-1 mb-1" style="font-size: 1rem; font-weight: 700;">Зоолог рассказала, что умственные способности осьминогов сродни инопланетным</p>
                                <p class="mt-1 mb-1" style="font-size: 0.85rem; font-style: italic;">Осьминоги уникальным образом умеют приспосабливаться к изменениям окружающей среды. Не только умеют менять окрас и форму, но и перепрограммируют мозг, метаболизм и проводимость нервных волокон. И это не все их таланты.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="itemNews" type="button" class="btn btn-outline-primary btn-sm px-4">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div style="width: 100%; height: 225px; background: no-repeat; background-image: url(img/osminog1.jpg); background-size: cover;"></div>
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between" style="font-size: 0.75rem; color: rgb(131, 131, 131);">
                                    <a class="mt-1 mb-1" style="font-size: 0.75rem; color: rgb(131, 131, 131); text-decoration: none;" href="#">Наука</a>
                                    <small class="mt-1 mb-1" style="font-size: 0.85rem; color: rgb(131, 131, 131);">14:34 15-06-23</small>
                                </div>
                                <p class="mt-1 mb-1" style="font-size: 1rem; font-weight: 700;">Зоолог рассказала, что умственные способности осьминогов сродни инопланетным</p>
                                <p class="mt-1 mb-1" style="font-size: 0.85rem; font-style: italic;">Осьминоги уникальным образом умеют приспосабливаться к изменениям окружающей среды. Не только умеют менять окрас и форму, но и перепрограммируют мозг, метаболизм и проводимость нервных волокон. И это не все их таланты.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="itemNews" type="button" class="btn btn-outline-primary btn-sm px-4">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <div style="width: 100%; height: 225px; background: no-repeat; background-image: url(img/osminog1.jpg); background-size: cover;"></div>
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between" style="font-size: 0.75rem; color: rgb(131, 131, 131);">
                                    <a class="mt-1 mb-1" style="font-size: 0.75rem; color: rgb(131, 131, 131); text-decoration: none;" href="#">Наука</a>
                                    <small class="mt-1 mb-1" style="font-size: 0.85rem; color: rgb(131, 131, 131);">14:34 15-06-23</small>
                                </div>
                                <p class="mt-1 mb-1" style="font-size: 1rem; font-weight: 700;">Зоолог рассказала, что умственные способности осьминогов сродни инопланетным</p>
                                <p class="mt-1 mb-1" style="font-size: 0.85rem; font-style: italic;">Осьминоги уникальным образом умеют приспосабливаться к изменениям окружающей среды. Не только умеют менять окрас и форму, но и перепрограммируют мозг, метаболизм и проводимость нервных волокон. И это не все их таланты.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="itemNews" type="button" class="btn btn-outline-primary btn-sm px-4">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div style="width: 100%; height: 225px; background: no-repeat; background-image: url(img/osminog1.jpg); background-size: cover;"></div>
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between" style="font-size: 0.75rem; color: rgb(131, 131, 131);">
                                    <a class="mt-1 mb-1" style="font-size: 0.75rem; color: rgb(131, 131, 131); text-decoration: none;" href="#">Наука</a>
                                    <small class="mt-1 mb-1" style="font-size: 0.85rem; color: rgb(131, 131, 131);">14:34 15-06-23</small>
                                </div>
                                <p class="mt-1 mb-1" style="font-size: 1rem; font-weight: 700;">Зоолог рассказала, что умственные способности осьминогов сродни инопланетным</p>
                                <p class="mt-1 mb-1" style="font-size: 0.85rem; font-style: italic;">Осьминоги уникальным образом умеют приспосабливаться к изменениям окружающей среды. Не только умеют менять окрас и форму, но и перепрограммируют мозг, метаболизм и проводимость нервных волокон. И это не все их таланты.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="itemNews" type="button" class="btn btn-outline-primary btn-sm px-4">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div style="width: 100%; height: 225px; background: no-repeat; background-image: url(img/osminog1.jpg); background-size: cover;"></div>
                            <div class="card-body">
                                <div style="display: flex; justify-content: space-between" style="font-size: 0.75rem; color: rgb(131, 131, 131);">
                                    <a class="mt-1 mb-1" style="font-size: 0.75rem; color: rgb(131, 131, 131); text-decoration: none;" href="#">Наука</a>
                                    <small class="mt-1 mb-1" style="font-size: 0.85rem; color: rgb(131, 131, 131);">14:34 15-06-23</small>
                                </div>
                                <p class="mt-1 mb-1" style="font-size: 1rem; font-weight: 700;">Зоолог рассказала, что умственные способности осьминогов сродни инопланетным</p>
                                <p class="mt-1 mb-1" style="font-size: 0.85rem; font-style: italic;">Осьминоги уникальным образом умеют приспосабливаться к изменениям окружающей среды. Не только умеют менять окрас и форму, но и перепрограммируют мозг, метаболизм и проводимость нервных волокон. И это не все их таланты.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="itemNews" type="button" class="btn btn-outline-primary btn-sm px-4">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="b-example-divider"></div>

    </main>

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                        <div style="width: 30px; height: 20px; background: no-repeat; background-image: url(img/soroka.svg); background-size: contain;">
                        </div>
                        <span class="fs-6">Soroka ToDay</span>
                    </a>
                </li>
            </ul>
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Главная</a></li>
                <li class="nav-item"><a href="categoryNews" class="nav-link px-2 text-body-secondary">Новости</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary disabled">Предложить</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary disabled">Контакты</a></li>
                <li class="nav-item"><a href="about" class="nav-link px-2 text-body-secondary">О нас</a></li>
            </ul>
            <p class="text-center text-body-secondary">&copy; 2023 Company, Inc</p>
        </footer>
    </div>

</body>
</html>
